[Desktop Entry]
Name=Verger
Comment=Balance Verger Ferland      
Icon=/usr/share/pixmaps/verger.png
Exec=/usr/bin/verger/verger
Type=Application
Encoding=UTF-8
Terminal=false
Categories=None;
